<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<html>
  <form enctype="multipart/form-data" method="POST" action="">
    <table>
    <tr>
      <td>
        <input type="file" name="file_name" />
        <label>excel file path</label>
      <td>
    </tr>
    <tr>
      <td>
        <input name="server" value="128.192.214.251">
        <label>server</label>
      </td>
    </tr>
    <tr>
      <td>
        <input name="password" value="123">
        <label>password</label>
      </td>
    </tr>
    <tr>
      <td>
        <input name="port" value="389">
        <label>port</label>
      </td>
    </tr>
    <tr>
      <td>
        <input name="user_email" value="lxhadmin@lxhtest.com">
        <label>user_email</label>
      </td>
    </tr>
    <tr>
      <td>
        <input name="dc", value="dc=lxhtest,dc=com"> 
        <label>dc</label>
      </td>
    </tr>
    <tr>
      <td>
        <input type="submit" value="upload excel" />
      </td>
    </tr>
    </table>
  </form>
</html>